black
datasets
einops
flake8
# hf_transfer
huggingface-hub[cli]
isort
liger_kernel
# lighteval
packaging
parameterized
pytest
safetensors
sentencepiece
transformers
trl
wandb
pillow
tensorboardx
qwen_vl_utils
math_verify